*
!.editorconfig
!.git
!.gitattributes
!.github
!.gitignore
!.snakemake-workflow-catalog.yml
!.test
!.test/*
!.test/config/*
!.test/data/*
!.test/data/genes/*
!.test/data/genome/*
!.test/data/samples/*
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE.md
!README.md
!config
!config/*
!images
!images/*
!workflow
!workflow/*
!workflow/envs/*
!workflow/rules/*
!workflow/schemas/*
!workflow/scripts/*
