*
!config
!config/*
!workflow
!workflow/*
!workflow/report/*
!workflow/envs/*
!workflow/scripts/*
!workflow/rules/*
!workflow/rules/annotation/*
!workflow/resources/*
!LICENSE
!README.md
!.gitignore
!.gitattributes
!.editorconfig
!.test
!.test/data